.form_input {
  padding-left: 2%;
  font-family: "Istok Web", serif;
  font-size: 325%;
  font-weight: 200;
  margin-bottom: 5%;
  width: 80%;
  height: 10%;
  border: 3px solid grey;
  border-radius: 10px;
}
