.form_input {
  padding-left: 2%;
  font-family: "Istok Web", serif;
  width: 80%;
  height: 12%;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1600px) {
  .input::placeholder {
    font-size: 70% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .input::placeholder {
    font-size: 50% !important;
  }
}
@media only screen and (max-width: 800px) {
  .input::placeholder {
    font-size: 40% !important;
  }
}
