.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectWrapper {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects {
  height: 95%;
  width: 80%;
  overflow-y: scroll;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projectHeader {
  width: 100%;
}
