.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectWrapper {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  height: 95%;
  width: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.projectHeader {
  width: 100%;
}
.project {
  margin-bottom: 5%;
  width: 30%;
  height: 25%;
  max-height: 65vh;
  border: 1px solid black;
  border-radius: 15px;
}
.project:not(:nth-child(3n)) {
  margin-right: 4.8%;
}
.projectImg {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  border: 1px solid black;
  object-fit: cover;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.imgWrapper {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  margin-left: 5%;
  font-family: "Istok Web", serif;
  font-size: 120%;
}
.description {
  width: 90%;
  height: 30%;
  word-break: break-all;
  margin-left: 5%;
  font-size: 120%;
  margin-right: 5%;
  font-family: "Istok Web", serif;
  overflow-y: scroll;
}
.span {
  font-size: 120%;
  font-family: "Istok Web", serif;
  font-weight: 550;
}
@media screen and (max-width: 1870px) {
  .project:not(:nth-child(2n)) {
    margin-right: 4.8%;
  }
  .project {
    margin-bottom: 5%;
    width: 45%;
    height: 35%;
    border: 1px solid black;
    border-radius: 15px;
  }
  .name {
    font-size: 150%;
  }
  .description {
    font-size: 120%;
  }
}
@media screen and (max-width: 1200px) {
  .project {
    margin-right: 0% !important;
    margin-bottom: 5%;
    width: 100%;
    height: 20%;
    border: 1px solid black;
    border-radius: 15px;
  }
  .name {
    font-size: 150%;
  }
  .description {
    font-size: 150%;
  }
}
