.container {
  width: 100%;
  height: calc(100vh);
}
.profileInfo {
  display: flex;
  flex-direction: column;

  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: calc(100vh - 100px);
}
.profileInfo__content {
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh - 140px);
}
.profileInfo__title {
  margin-left: 4%;
  font-size: 175%;
  font-family: "Istok Web", serif;
  font-weight: 700;
}
.profileInfo__person {
  width: 12vw;
  height: 12vw;
  background-color: grey;
  border-radius: 15px;
}
.profileInfo__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 90%;
  width: 80%;
}
.form_checkboxes {
  display: flex;
  justify-content: left;
  width: 84%;
  height: 5%;
  align-items: center;
}
.form_checkboxes__input {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  appearance: none;
  width: 2vw;
  height: 2vw;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 1%;
  position: relative;
}

.form_checkboxes__input::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  transition: 500ms;
  background-image: url("../../assets/square.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.form_checkboxes__input:checked::after {
  width: 100%;
  height: 100%;

  transition: 500ms;
}

.form_checkboxes_description {
  font-size: calc(100vw / 75);
  font-family: "Istok Web", serif;
  margin-right: 5%;
  color: gray;
}
.form_button {
  margin-left: 7.8%;
  font-size: calc(100vh / 35);
  font-family: "Istok Web", serif;
  bottom: 9%;
  width: 35%;
  height: 100%;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.profileInfo__divArrow {
  height: 100%;
  display: flex;
  align-items: center;
}
.navArrow {
  width: 70%;
  height: auto;
  cursor: pointer;
}
