li {
  list-style-type: none;
}
p {
  margin: 0;
}
.container {
  width: 100%;
  height: calc(100vh - 100px - 54px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__img {
  position: relative;
  width: 60%;
  height: 80%;
  background-image: url("../../assets/main_start_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 5px solid orange;
}
.container_extended {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 30%;
  border-radius: 10px;
  background-color: rgb(132, 126, 178);
  bottom: -5%;
  right: -10%;
}
.container_extended__p {
  width: 90%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: clamp(
    0.75rem,
    -0.5357142857142856rem + 7.428571428571428vw,
    1.875rem
  );

  font-family: "Istok Web", serif;
  color: rgb(255, 255, 255);
  font-weight: 700;

  line-height: 1.2;
}
.footer {
  height: 50px;
  position: relative;
}
.footer__img {
  position: absolute;
  left: 20%;
  height: 50px;
  bottom: 25px;
}