.container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid orange;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}
* {
  transition: all 0.5s ease-out;
}
.h2 {
  font-family: "Istok Web", serif;
  color: rgb(144, 144, 144);
  line-height: 1.2;
  font-weight: 500;
  font-size: calc(100vh / 40);
  margin-top: 2%;
}
